{% extends 'base.html.twig' %}

{% block title %}Salles index{% endblock %}

{% block body %}
    <h1>Salles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Prix/jour</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.nom }}</td>
                <td>{{ salle.adress }}</td>
                <td>{{ salle.prix }} €</td>
                {% if app.user == salle.client %}
                    <td><button class="btn btn-success disabled">Réserver</button></td>
                {% else %}
                    <td><a href="{{path('location_new', { 'id' : salle.id })}}"><button class="btn btn-success">Réserver</button></a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}