{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Liste des salles de l'utilisateur {{app.user.username}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Prix</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            {% for salle in salles %}
                <tr>
                    <td>{{ salle.nom }}</td>
                    <td>{{ salle.adress }}</td>
                    <td>{{ salle.prix }}</td>
                    <td><a href="{{ path('salles_edit', {'id': salle.id}) }}"><button class="btn btn-primary">Modifier</button></a></td>
                    <td>{{ include('salles/_delete_form.html.twig') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('salles_new') }}"><button class='btn btn-primary'>Ajouter une salle</button></a>
{% endblock %}
