{% extends 'base.html.twig' %}

{% block title %}Edit Location{% endblock %}

{% block body %}
    <h1>Modification de la réservation</h1>

    <h2>Salle : {{ location.salle.nom}} </h2>
    <p>Adresse : {{ location.salle.adress }}</p>
    <p>Prix : {{ location.salle.prix }}</p>

    {{ include('location/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('location_show', { 'id' : app.user.id }) }}"><button class="btn btn-danger">Annuler</button></a>
{% endblock %}