{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
    <h1>Réservation de la salle {{ salle.nom }}</h1>

    <p>Adress : {{ salle.adress }}</p>
    <p>Prix : {{ salle.prix }} € /jour</p>

    {{ include('location/_form.html.twig') }}

    <a href="{{ path('salles_index') }}"><button class="btn btn-danger">Annuler</button></a>
{% endblock %}