{% extends 'base.html.twig' %}

{% block title %}ModuleSalle index{% endblock %}

{% block body %}
    <h1>ModuleSalle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdSalle</th>
                <th>IdModule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module_salle in module_salles %}
            <tr>
                <td>{{ module_salles.id }}</td>
                <td>{{ module_salles.idSalle }}</td>
                <td>{{ module_salles.idModule }}</td>
                <td>
                    <a href="{{ path('module_salle_show', {'id': module_salles.id}) }}">show</a>
                    <a href="{{ path('module_salle_edit', {'id': module_salles.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('module_salle_new') }}">Create new</a>
{% endblock %}