{% extends 'base.html.twig' %}

{% block title %}Module index{% endblock %}

{% block body %}
    <h1>Module index</h1>

    <table class="table">
        <thead>
            <tr class="">
                <th class="">Id</th>
                <th class="">Libellé</th>
                <th class="">Prix</th>
                <th class="">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr class="">
                <td class="">{{ module.idModule }}</td>
                <td class="">{{ module.libelleModule }}</td>
                <td class="">{{ module.prixModule }} €</td>
                <td class="">
                    <div>
                        <a href="{{ path('module_show', {'idModule': module.idModule}) }}">Détails</a><br>
                        <a href="{{ path('module_edit', {'idModule': module.idModule}) }}">Editer</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun module trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('module_new') }}" class="button-a">Ajouter</a>
{% endblock %}
